@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-v12-latin_cyrillic-600.woff') format('woff'),
  url('../fonts/inter-v12-latin_cyrillic-600.woff2') format('woff2')
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v12-latin_cyrillic-regular.woff') format('woff'),
  url('../fonts/inter-v12-latin_cyrillic-regular.woff2') format('woff2')
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-v12-latin_cyrillic-500.woff') format('woff'),
  url('../fonts/inter-v12-latin_cyrillic-500.woff2') format('woff2')
}