.footer-social {
    &__title {
        margin-bottom: 16px;
@include mobile {
    margin-bottom: 8px;
}

    }
&__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 20px;
@include tablet {
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 15px;
}
    }
&__list {
    display: flex;
    gap: 10px;
    }

&__link_fb:hover {
    color: #3b5998;
    }
&__link_vk:hover {
    color: #0077FF;
    }
}