.navigation {
    padding-bottom: 50px;
    @include laptop {
        padding-bottom: 38px;
    }
    @include tablet {
        padding-bottom: 31px;
    }
    @include mobile {
        padding-bottom: 19px;
    } 
}